FROM alpine:3.11

RUN apk add --no-cache \
  g++ \
  openssl-dev \
  curl \
  ;

ENV RUSTUP_HOME=/usr/local/rustup \
    CARGO_HOME=/usr/local/cargo \
    CARGO_TARGET_DIR=/usr/local/target \
    PATH=/usr/local/cargo/bin:$PATH \
    SCCACHE_DIR=/usr/local/cache/sccache \
    RUSTFLAGS="-C target-feature=-crt-static"

RUN curl -f -L https://static.rust-lang.org/rustup.sh -O \
 && sh rustup.sh -y \
    --no-modify-path \
    --profile minimal \
 && rm rustup.sh \
   ;

RUN cargo install sccache
ENV RUSTC_WRAPPER=/usr/local/cargo/bin/sccache
